/* component/banner/Banner.Module.css */

.bannerContainer {
  position: relative;
  width: calc(100% - 20%);
  height: 400px;
  margin: 1% 10% 3% 10%;
  /* Add more styles, such as border, shadow, etc., as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: solid red;
}

/* Responsive adjustments for tablets and mobiles */
@media (max-width: 768px) {
  .bannerContainer {
    width: calc(100% - 10%);
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
  }
}
