.container {
  display: flex;
  height: 12vh;
  box-shadow: 0 4px 4px 0 rgba(248, 145, 50, 0.25);
  border: solid 1px rgba(248, 145, 50, 0.4);
}

.navbar {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 100vw;
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.navLinks li {
  font-size: 1rem;
}

.navLinks a {
  text-decoration: none;
  font-family: var(--montserrat), san sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--primary);
}

.signup_button,
.signin_button {
  border-radius: 50px;
  height: 42px;
  width: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.signup_button {
  background-color: blue;
  color: var(--Secondary, #f4f4f4);
}

.signin_button {
  border: solid;
}

.mobileNav,
.tabletNav {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  /* background-color: rgba(0, 0, 0, 1); */
  /* border: solid 4px purple; */
  /* Remove "display: none;" to make it visible by default */
}

.closeButton {
  position: absolute;
  top: 10px; /* Adjust this value to control the vertical position */
  right: 10px; /* Adjust this value to control the horizontal position */
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  color: black;
}

/* Mobile View */
@media (max-width: 767px) {
  .mobileNav {
    display: block; /* Show mobile menu */
  }

  .overlay ul {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overlay a {
    text-decoration: none;
  }

  .overlay ul li {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
    font-family: var(--montserrat), san sans-serif;
  }

  .navLinks {
    display: none;
  }

  /* .mobileLinks {
    display: inherit;
    flex-direction: row;
    justify-items: center;
  } */

  /* .mobileLinks {
    display: inherit;
    border: red;
  } */

  .navbar {
    margin-left: 2%;
    margin-right: 2%;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .tabletNav {
    display: block; /* Show tablet menu */
  }

  .tabletNav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .overlay ul {
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overlay a {
    text-decoration: none;
  }

  .overlay ul li {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
    font-family: var(--montserrat), san sans-serif;
  }

  .navLinks {
    display: none;
  }

  .navbar {
    margin-left: 10%;
    margin-right: 10%;
  }
}
