/* SearchBar.module.css */

.searchBarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  margin-top: 2vh;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
}

.searchContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchIconContainer {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.searchIcon {
  color: #333;
}

.searchInput {
  border: none;
  outline: none;
  padding: 10px;
  flex-grow: 1;
  border-radius: 25px 0 0 25px;
  width: 100%;
  background-color: transparent;
}

.searchButton {
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 50%;
  transform: translateY(-50%);
}

/* Media query for mobile and Tablets */
@media (max-width: 600px) {
  .searchBarWrapper {
    margin-top: 2vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2vh;
  }

  /* .categorySelect {
    display: none;
  } */

  .searchContainer,
  .searchInput {
    width: calc(100% - 60px);
  }

  .searchInput,
  .searchButton {
    border: none;
    outline: none;
    padding: 10px;
    flex-grow: 1;
    margin-left: 0;
    border-radius: 25px;
  }

  .searchButton {
    right: 5%; /* Adjust the position of the button on mobile */
    padding: 10px 15px;
  }
}
