.container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.desktopSearchBar {
  display: inherit;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border-radius: 50px;
  border: 0.788px solid var(--text-color, #808080);
  margin-top: 2vh;
  width: inherit;
  height: 5vh;
  margin-right: 10%;
  margin-left: 10%;
}

/* Mobile and Tablet Views */
.mobileSearchBar,
.tabletSerachBar {
  display: none;
}
