/* components/ProductCard.module.css */
.card {
  max-width: 300px;
  max-height: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  min-width: 300px;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  width: auto;
  border-radius: 4px;
  min-height: 200px;
}

.details {
  text-align: center;
}

.productTitle {
  font-size: 18px;
  margin: 8px 0;
}

.category {
  color: #666;
  font-size: 14px;
}

.description {
  font-size: 12px;
  color: #333;
  margin: 8px 0;
}

.extraDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.store {
  font-size: 12px;
  color: #333;
}

.wishlistButton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.pricing {
  margin: 8px 0;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.ratings {
  display: flex;
  align-items: center;
}

.stars {
  color: #f5a623;
}

.reviews {
  font-size: 12px;
  color: #666;
  margin-left: 8px;
}

.addToCartButton {
  background-color: #f89132;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 12px;
}

/* Add this at the bottom of your CSS file */
@media (max-width: 768px) { /* Adjust this max-width to suit your responsive breakpoint */
  .container { /* Replace '.container' with the actual class of the parent container holding your cards */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin: 0 5%; /* This will center the card in the flex container if it's not full width */
    max-width: 90%; /* Adjust this to control how much width the card can take */
    width: auto;
  }

  .productImage {
    height: auto; 
    min-height: 200px; 
  }

}
