/* page.module.css */

.productPage {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.upperContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-right: auto; 
  margin-left: 0; 
}

@media (min-width: 768px) {
  .upperContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.carouselContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .carouselContainer {
    margin-bottom: 0;
    max-width: 50%;
  }
}

.purchaseContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  max-width: 500px;
  box-sizing: border-box;
}

.productTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .productTitle {
    text-align: left;
  }
}

.priceSection {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.salePrice {
  font-size: 20px;
  color: #E44D26;
  font-weight: bold;
  margin-right: 10px;
}

.originalPrice {
  font-size: 18px;
  text-decoration: line-through;
  color: #777;
}

.productDescription {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .productDescription {
    text-align: left;
  }
}

.addToCartSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.quantityButton {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.quantityInput {
  width: 60px;
  text-align: center;
  margin: 0 15px;
  border: 1px solid #ccc;
}

.addToCartButton {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 40px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid #ddd;
  margin-top: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 2px solid #E44D26;
}

.tabContent {
  width: 100%;
  padding: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .tabs,
  .tabContent {
    order: 3;
    width: 100%;
    max-width: 1200px;
  }
}
