.mySwiper {
  height: auto;
  margin: 0 11% 0 11%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  flex-direction: column;
}

.mySwiper img {
  height: 380px;
  width: 380px;
}

/* Title Style */
.slideTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #333;
}

/* Description Style */
.slideDescription {
  font-size: 1em;
  margin-bottom: 1em;
  color: #666;
}

/* Price Style */
.slidePrice {
  font-size: 1.5em;
  font-weight: bold;
  color: #e44d26;
  margin-bottom: 0.5em;
}

/* Original Price (Strikethrough) Style */
.originalPrice {
  font-size: 1.2em;
  text-decoration: line-through;
  color: #999;
  margin-right: 0.5em;
}

/* 'Add to Cart' Button Style */
.addToCartButton {
  font-size: 1em;
  color: white;
  background-color: #ff9900;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5em;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .mySwiper {
    margin: 0 5% 0 5%;
  }

  .mySwiper img {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .mySwiper {
    margin: 0 5% 0 5%;
  }

  .mySwiper img {
    height: 200px;
    width: 200px;
  }
}
