/* components/hero/Hero.moduled.css */

.heroSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px; /* Spacing between items */
  padding: 20px;
}

.heroItem {
  position: relative; /* Positioning context for Image */
  height: 300px; /* Set a fixed height for images */
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  display: flex; /* To align the text */
  align-items: flex-end; /* Align text at the bottom */
  justify-content: center; /* Center text horizontally */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.heroImage {
  /* The Image component has absolute positioning */
  z-index: -1; /* Ensure the image is behind the text */
}

.heroText {
  z-index: 2; /* Ensure the text is above the image */
  padding: 16px;
  text-align: center;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.75); /* Semi-transparent background */
  width: 100%;
  pointer-events: none; /* Allows clicking through the text to the link below */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .heroSection {
    grid-template-columns: 1fr;
  }
  .heroItem {
    height: 200px; /* Adjust height for mobile devices */
  }
}
