.heroSection {
  display: flex;
  flex-wrap: wrap;
  padding: 1% 10% 0 10%;
  gap: 10px; /* You can adjust the gap between images */
}

.imageContainer, .imageContainerFullWidth {
  position: relative; /* This is required for next/image to work with layout="fill" */
  flex-basis: calc(33.333% - 10px); /* Adjust for 3 images per row with gap, except for full width */
  height: 200px; /* Define your preferred height for all image containers */
  /* background-color: #f3f3f3; Placeholder color, can be removed if images load properly */
}

.imageContainerFullWidth {
  flex-basis: 100%; /* Full width for the last image */
}

/* Responsive behavior */
@media (max-width: 768px) {
  .imageContainer, .imageContainerFullWidth {
    flex-basis: 100%; /* Full width on smaller screens */
  }
}
