.dailyDeals {
  display: flex;
  margin-left: 11%;
  margin-right: 11%;
  border: solid purple;
  /* justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center; */

}
