/* product/[query]/page.module.css */

.product_card {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  margin-bottom: 16px; /* Space between cards */
  margin: 0 10% 0 10%;
}

.results_title,
.no_products {
  align-items: center;
  margin-bottom: 2%;
  margin: 1% 0 1% 10%;
  font-family: var(--montserrat);
}

.product_image {
  width: 30%; /* Full width of the card */
  height: auto; /* Maintain aspect ratio */
}

.product_details {
  margin: 0 0 0 3%;
  font-family: var(--montserrat);
}

.product_title {
  font-weight: bold;
  margin-bottom: 15%;
}

@media only screen and (max-width: 600px) {
  .product_card {
    display: flex;
    flex-direction: row; /* Stack items vertically */
    margin-bottom: 16px; /* Space between cards */
    margin: 0 0 0 0;
  }

  .results_title,
  .no_products {
    align-items: center;
    margin-bottom: 2%;
    margin: 1% 0 1% 2%;
    font-family: var(--montserrat);
  }

  .product_image {
    width: 50%; /* Full width of the card */
    height: auto; /* Maintain aspect ratio */
    margin: 0 2% 0 2%;
  }

  .product_details {
    width: 50%;
    margin: 0 2% 0 2%;
  }

  .product_title {
    font-size: 1.2rem; /* Example title size */
  }

  .product_price {
    color: #e44d26; /* Example price color */
    font-weight: bold;
  }

  .product_seller,
  .product_sold {
    font-size: 0.8rem; /* Smaller text for seller and sold count */
  }

  .product_link {
    color: #0066cc;
    text-decoration: none; /* No underline */
    font-weight: bold;
    margin-top: 8px; /* Space from the last element */
  }
}
