/* app/products/electronics/Electronics.module.css */


.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  z-index: 100; /* Make sure this is above everything else */
  font-size: 24px; /* Or however large you want your loading text to be */
}

.imageBox {
  display: flex;
  justify-content: center; /* Center children horizontally */
  /* align-items: flex-start; */
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1%;
}

.placeholderCard {
  width: 100%; /* or max-width of the product card */
  height: 300px; /* adjust to the height of your product card */
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh; /* takes at least half of the viewport height */
  text-align: center;
  color: #333; /* dark gray text color */
}

.noResults h2 {
  font-size: 2rem; /* 32px font size */
  margin-bottom: 1rem; /* 16px space below the title */
}

.noResults p {
  font-size: 1rem; /* 16px font size */
  margin-bottom: 2rem; /* 32px space below the paragraph */
}

/* Style for the continue shopping button, adjust as necessary */
.continueShoppingButton {
  padding: 10px 20px;
  font-size: 1rem; /* 16px font size */
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0056b3; /* button background color */
  cursor: pointer;
  transition: background-color 0.3s; /* smooth background color change */
}

.continueShoppingButton:hover {
  background-color: #003a7a; /* darker blue on hover */
}

@media (max-width: 768px) {
  .imageBox {
    margin-top: 3%;
    /* justify-content: center; */
    /* padding-left: 2%; */
    padding: 0;
  }
}
