.container {
  display: flex;
  background: var(--Primary, #111);
  height: 300px;
}

.footer {
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 40px;
  width: 100vw;
  color: #fff;
}

.footerColumn {
  flex-basis: calc(33.33% - 20px);
  border-radius: 5px;
}

.footerColumn h1 {
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 5%;
}

.footerContact span {
  font-size: 12px !important;
  font-family: var(--poppins) !important;
  font-style: bold !important;
  line-height: 140% !important;
  text-align: justify;
}

.footerContact span:first-child {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footerContact span:nth-child(2) {
  padding-bottom: 1rem;
}

.footerQuickLinks {
  /* align-items: center; */
  padding-left: 30%;
}

.footerQuickLinks a {
  text-decoration: none;
  font-size: 12px !important;
  color: var(--Neutral, #fff);
  font-family: var(--poppins) !important;
  font-style: bold !important;
  line-height: 140% !important;
  text-align: justify;
  padding-bottom: 0.3rem;
}

.footerDeals span {
  text-decoration: none;
  font-size: 12px !important;
  color: var(--Neutral, #fff);
  font-family: var(--poppins) !important;
  font-style: bold !important;
  line-height: 140% !important;
  text-align: justify;
  padding-bottom: 0.3rem;
  width: 80%;
}

.footerDeals input {
  border: none;
  border-radius: 50px;
  height: 48px;
  width: 220px;
  margin-top: 12px;
}

.footerDeals button {
  border: none;
  border-radius: 50px;
  height: 48px;
  width: 90px;
  margin-top: 12px;
  margin-left: 5px;
  background: var(--qnc-blue, #085eb5);
}

/* .footerContact span {
  width: 100%;
  border: #085eb5;
} */

/* .footerColumn a {
  color: var(--Neutral, #fff);
  font-family: var(--poppins, Sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
} */

/* .footerColumn input {
  border-radius: 50px;
  height: 48px;
  width: 244px;
  margin-top: 12px;
}

.footerColumn button {
  border-radius: 50px;
  align-items: center;
  height: 48px;
  width: 100px;
  background: var(--QnC---Blue, #085eb5);
} */

/* Mobile View */
@media (max-width: 767px) {
  .container {
    height: auto; /* Show mobile menu */
  }

  .footer {
    border: solid 2px white;
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10%;
    width: 100vw;
    color: #fff;
  }

  .footerColumn {
    flex-basis: 100%;
    border: 1px solid #555;
    border-radius: 5px;
    padding-bottom: 2rem;
  }

  .footerColumn h1 {
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 2%;
    padding-top: 3%;
  }

  .footerContact span {
    font-size: 12px !important;
    font-family: var(--poppins) !important;
    font-style: bold !important;
    line-height: 140% !important;
    text-align: justify;
    text-decoration: none;
  }

  .footerContact span:first-child {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .footerQuickLinks {
    padding: 0;
    padding-top: 20px;
    border: solid green;
  }

  .footerQuickLinks a {
    text-decoration: none;
    font-size: 12px !important;
    color: var(--Neutral, #fff);
    font-family: var(--poppins) !important;
    font-style: bold !important;
    line-height: 140% !important;
    /* padding-bottom: 0.1rem; */
  }


  .footerDeals span {
    text-decoration: none;
    font-size: 12px !important;
    color: var(--Neutral, #fff);
    font-family: var(--poppins) !important;
    font-style: bold !important;
    line-height: 140% !important;
    text-align: justify;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    width: 80%;
  }

  .footerDeals input {
    border: none;
    border-radius: 50px;
    height: 48px;
    width: 220px;
    margin-top: 12px;
  }

  .footerDeals button {
    border: none;
    border-radius: 50px;
    height: 48px;
    width: 90px;
    margin-top: 12px;
    margin-left: 5px;
    background: var(--qnc-blue, #085eb5);
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .tabletNav {
    display: block; /* Show tablet menu */
  }
}
