.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0.5em;
  gap: 0.5em;
}

.subFooter { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 0.5em;
}

.subFooter p {
  margin: 0;
  padding: 0.5em;
}


@media (max-width: 768px) {
  
}