.container {
  display: flex;
  padding-top: 0.5em;
}

.desktopSubFooter {
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 100vw;
}

.icons {
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  display: inherit;
  flex-direction: row;
}

/* Mobile and Tablet Styles */
.mobileSubFooter,
.tabletSubFooter {
  display: none;
}

/* Mobile View */
@media (max-width: 767px) {
  .mobileSubFooter {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    width: 100vw;
    border: solid brown;
  }

  .desktopSubFooter,
  .tabletSubFooter {
    display: none;
  }

  .icons {
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    display: inherit;
    flex-direction: row;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .tabletSubFooter {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-left: 10%;
    margin-right: 10%;
  }

  .icons {
    justify-items: center;
    align-items: center;
    gap: 1rem;
    display: inherit;
    flex-direction: row;
  }

  .desktopSubFooter,
  .mobileSubFooter {
    display: none;
  }
}
