/* Dashboard.module.css */
.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Adjust if you have a top navbar */
}

.dashboardHeading {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.tabContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow tabs to wrap on smaller screens */
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
  font-weight: bold;
}

.activeTab {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.content {
  width: 100%;
  max-width: 600px; /* Max width for content area */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .dashboardHeading {
    font-size: 1.5rem;
  }

  /* .tabContainer {
    justify-content: space-around;

  } */

  .tab {
    padding: 8px 16px;
  }

  .content {
    padding: 15px;
  }
}
