/* page.module.css */
.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.priceSection {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 10px;
}

.salePrice {
  font-size: 20px;
  color: #E44D26;
  font-weight: bold;
  margin-right: 10px;
}

.originalPrice {
  font-size: 18px;
  text-decoration: line-through;
  color: #777;
}

.productDescription {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.quantitySection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.quantityButton {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.quantityInput {
  width: 50px;
  text-align: center;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.addToCartButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid #ddd;
  margin-top: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.tab.active {
  border-bottom: 2px solid #E44D26;
}

.tabContent {
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* Larger screens */
@media (min-width: 768px) {
  .productPage {
    max-width: 1200px;
  }

  .contentContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .carouselContainer,
  .productDetails {
    width: 50%;
  }

  .carouselContainer {
    padding-right: 20px; /* Add some spacing between carousel and details */
  }

  .productDetails {
    align-items: flex-start;
    padding: 20px;
    text-align: left;
  }

  .productTitle,
  .productDescription {
    text-align: left;
  }

  .tabs, .tabContent {
    width: calc(100% - 40px); /* adjust for padding */
  }
}
